
<div style="text-align:center">
  <mat-tab-group>

    <mat-tab label="Learn and Test">
      <br><br>
      <p>
         Data from learn component is <strong>{{data.name}}</strong> and <strong>{{data.address}}</strong>
      </p>
      <!-- Passing Person object to learn component -->
      <app-learn [person]="person" (yellEvent)="yell($event)"></app-learn>
    </mat-tab>

    <mat-tab label="One">
      <h5>
        <app-home></app-home>
      </h5>
      <p>...</p>
    </mat-tab>

    <mat-tab label="Two">
      <h1>Some more tab content</h1>
    </mat-tab>

    <mat-tab label="Four">
      <h1>Some more tab content</h1>
      <mat-spinner></mat-spinner>
      <p>...</p>
    </mat-tab>
 </mat-tab-group>

 <!-- Hit /invalid URL in browser. It should show you page not found error -->
 <router-outlet></router-outlet>

<div>
    <app-footer> Footer note is : </app-footer>
</div>
